@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@1,200&display=swap');
body,
html {
    /*background-color: #FCEBBB;*/
    font-family: Helvetica, Verdana, sans-serif;
    height: 100%;
    margin: 0;
}

header {
    text-align: center;
}

#container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 70px 45px auto;
}

header {
    display: grid;
    grid-template-columns: auto 100px 100px;
    align-items: center;
}

.content {
    display: grid;
    grid-row: 3 / 4;
    background-image: url(img/background1.jfif);
    background-position-y: -200px;
    background-position-x: 50%;
    background-repeat: repeat;
    background-size: 50%;
    background-color: #0b0c10;
}

#name {
    text-decoration: none;
    font-weight: bold;
    padding-left: 50px;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: black;
    float: left;
}

#login {
    text-decoration: none;
    color: grey;
    font-weight: bold;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: grey;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}

.dropdown:hover {background-color: #ddd;}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}

#cart {
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    background-color: #ea4c89;
    border-radius: 5px;
    margin: 0 10px;
    padding: 5px;
    color: white;
}

#pagelayout {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: 800px;
}

#topnavbar {
    display: grid;
    grid-row: 2 / 3;
    background-color: #555;
}


/* #topnavbar {
    width: 101.25%;
    overflow: auto;
    height: auto;
    position: absolute;
  } */

#topnavbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 20%;
    text-align: center;
}

#leftnavbar {
    text-align: center;
    width: 12%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: whitesmoke;
    height: auto;
    position: fixed;
    border-style: inset;
}

#leftnavbar a {
    text-decoration: none;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 1.2em;
    display: block;
}

.rightcolumn .text {
    float: top;
    margin-left: 75%;
    padding-left: 20px;
    padding-right: 20px;
}

#rightcolumn_2 {
    background-color: aliceblue;
    background-image: url(../img/background1.jfif);
    margin-left: 12.5%;
    margin-right: 12.5%;
    padding: 20px;
    border-style: inset;
    min-height: 98%;
}

#registration {
    text-align: center;
}

.photocontent {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.photocontent_2 {
    display: inline-block;
    text-align: center;
}

#description {
    font-family: Helvetica, Verdana, sans-serif;
    text-decoration: underline;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    text-justify: inter-word;
    color: #3a3a3a;
}

#promotionalbanner {
    font-family: Helvetica, Verdana, sans-serif;
    text-align: center;
    color: red;
}

#buttonEnter {
    font-family: Helvetica, Verdana, sans-serif;
    text-align: center;
}

a:link {
    text-decoration: none;
}

img {
    max-width: 100%;
}

#iphonemaincatalog {
    width: 300px;
    height: 300px;
}

.homebanner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/2021.png");
    height: 100%;
    top: 9%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.homebanner-text {
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.bannerprev,
.bannernext {
    cursor: pointer;
    position: absolute;
    top: 75%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.product-name,
.product-stock,
.product-price-range {
    text-align: center;
    line-height: 2.5px;
}

* {
    box-sizing: border-box
}

#linespace {
    width: 43%;
    height: 40px;
    border-bottom: 1px solid black;
    position: absolute;
}

#product-table {
    margin-left: 5%;
}

#product-table1 {
    margin-left: 30%;
}

#checkout1 {
    margin-left: 47%;
}

.techspecs {
    margin-left: 20%;
}


/* Slideshow container */

.slideshow-container {
    max-width: 400px;
    position: relative;
    margin-left: 30%;
}

.home-slideshow-container {
    max-width: 90%;
    position: relative;
    margin: auto;
    max-height: 50%;
}


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next,
.bannernext {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover,
.bannerprev:hover,
.bannernext:hover {
    background-color: #b8b8b8d2;
}


/* Caption text */

.text {
    color: #000000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 85%;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #5f5f5fad;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 2%;
    font-weight: bold;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 40px 5px 0px 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}