@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@1,200&display=swap');
body,
html {
    /*background-color: #FCEBBB;*/
    height: 100%;
    margin: 0;
    font-family: ‘Open Sans’;
    font-weight: 800;
}

header {
    text-align: center;
}

#container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 70px 45px auto;
}

header {
    display: grid;
    grid-template-columns: auto 100px 100px;
    align-items: center;
}

.content {
    display: grid;
    grid-row: 3 / 4;
    background-image: url(img/background1.jfif);
    background-position-y: -200px;
    background-position-x: 50%;
    background-repeat: repeat;
    background-size: 50%;
    background-color: #0b0c10;
}

#name {
    text-decoration: none;
    font-weight: bold;
    padding-left: 50px;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: black;
    float: left;
}

#login a, #login{
    text-decoration: none;
    color: grey;
    font-weight: bold;
    text-align: center;
}

#login:hover {
    cursor: default;
    color: blue;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: aliceblue;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a, .dropdown-content a:visited, #login a:visited{
    color: 	#708090;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}

.dropdown:hover {color: blue;}
.dropdown-content a:hover {color: blue;}
.dropdown:hover .dropdown-content {display: block;}

#cart {
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    background-color: #ea4c89;
    border-radius: 5px;
    margin: 0 10px;
    padding: 5px;
    color: white;
}

#cart:hover {
    color: blue;
}

#pagelayout {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 100%;
    min-width: 800px;
}

#topnavbar {
    display: grid;
    grid-row: 2 / 3;
    background-color: #222;
}

#topnavbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 20%;
    text-align: center;
    font-size: 16px;
    font-family: ‘Open Sans’;
    font-weight: 600;
}

#topnavbar nav a:hover {
    color: blue;
    background-color: aliceblue;
}

#topnavbar .active_tab {
    color: black;
    background-color: aliceblue;
    border: solid;
}

.rightcolumn .text {
    float: top;
    margin-left: 75%;
    padding-left: 20px;
    padding-right: 20px;
}

#rightcolumn_2 {
    background-color: aliceblue;
    background-image: url(../img/background1.jfif);
    margin: auto;
    max-width: 1200px;
    padding: 20px;
    border-style: inset;
    min-height: 98%;
}

#registration {
    text-align: center;
}

.photocontent {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.photocontent_2 {
    display: inline-block;
    text-align: center;
}

#description {
    font-family: Helvetica, Verdana, sans-serif;
    text-decoration: underline;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    text-justify: inter-word;
    color: #3a3a3a;
}

#buttonEnter {
    font-family: Helvetica, Verdana, sans-serif;
    text-align: center;
}

a:link {
    text-decoration: none;
}

img {
    max-width: 100%;
}
#product-table {
    width: 90%;
    margin: auto;
}

#product-table td {
    width: 33%;
}

.product-image {
    aspect-ratio: 556 / 470;
}

.product-name {
    color: rgb(15, 131, 160);
}

#iphonemaincatalog {
    width: 300px;
    height: 300px;
}

.product-name,
.product-stock,
.product-price-range {
    text-align: center;
    line-height: 2.5px;
}

* {
    box-sizing: border-box
}

#linespace {
    width: 43%;
    height: 40px;
    border-bottom: 1px solid black;
    position: absolute;
}

#checkout1 {
    margin-left: 47%;
}

.techspecs {
    margin-left: 20%;
}

#checkout{
 float: right;
 margin-top: 5px;
 width: 15%;
 height: 30px;
 border: none;
 background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
 border-radius: 20px;
 cursor: pointer;
 font-size: 16px;
 font-family: ‘Open Sans’;
 font-weight: 600;
 color: #202020;
 }

 #clear {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  width: 15%;
  height: 30px;
  border: none;
  background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: ‘Open Sans’;
  font-weight: 600;
  color: #202020;
 }

/* Slideshow container */

.slideshow-container {
    max-width: 400px;
    position: relative;
    margin: auto;
}

.home-slideshow-container {
    max-width: 90%;
    position: relative;
    margin: auto;
    max-height: 50%;
}


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next,
.bannernext {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover,
.bannerprev:hover,
.bannernext:hover {
    background-color: #b8b8b8d2;
}


/* Caption text */

.text {
    color: #000000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 85%;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #5f5f5fad;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 2%;
    font-weight: bold;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 40px 5px 0px 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.completion-details {
    margin: auto;
    max-width: 700px;
}