<!DOCTYPE html>
<html lang ="en">

<head>
    <title>Beep and Geek</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="stylesheet.css">
    <link type="text/css" rel="stylesheet" href="../beep-and-geek/magicscroll-trial/magicscroll/magicscroll.css" />
    <script type="text/javascript" src="../beep-and-geek/magicscroll-trial/magicscroll/magicscroll.js"></script>
</head>

<body>
    <header>
        <a href="maincatalog.html"><img src="logo.png" alt="Go back to maincatalog"></a>
    </header>
    <div id="topnavbar">
        <nav>
            <b>
                <a href="maincatalog.html">Home</a>
                <a href="phone.html">Phones</a>
                <a href="laptop.html">Laptops</a>
                <a href="cable.html">Cables</a>
                <a href="case.html">Cases</a>
            </b>
        </nav>
    </div>

    <div id="pagelayout">
            <div id="leftnavbar">
                <a href="iphone.html">iPhone</a>
            </br>
                <a href="android.html">Android</a>
            </div>

        <div id="rightcolumn">
            <div class="photocontent_2">
                <a href="iphone13promax.html"><img id="iphonemaincatalog" src="../beep-and-geek/iphonephoto/iphone13promax/iphone13promax-sierrablue.png"/>
                <h3 class="minitext">iPhone 13 Pro Max</h3></a>
            </div>
            <div class="photocontent_2">
                <a href="iphone13pro.html"><img id="iphonemaincatalog" src="../beep-and-geek/iphonephoto/iphone13pro/iphone13pro-gold.png"/>
                <h3 class="minitext">iPhone 13 Pro</h3></a>
            </div>
            <div class="photocontent_2">
                <a href="iphone13.html"><img id="iphonemaincatalog" src="../beep-and-geek/iphonephoto/iphone13/iphone13-black.png"/>
                <h3 class="minitext">iPhone 13</h3></a>
            </div>
            <div class="photocontent_2">
                <a href="iphone13mini.html"><img id="iphonemaincatalog" src="../beep-and-geek/iphonephoto/iphone13mini/iphone13mini-red.png"/>
                <h3 class="minitext">iPhone 13 Mini</h3></a>
            </div>
        </div>
    </div>

</body>