<!DOCTYPE html>
<html lang ="en">

<head>
    <title>Beep and Geek</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheet.css">
    <link type="text/css" rel="stylesheet" href="../beep-and-geek/magicscroll-trial/magicscroll/magicscroll.css" />
    <script type="text/javascript" src="../beep-and-geek/magicscroll-trial/magicscroll/magicscroll.js"></script>
</head>

<body>
    <header>
        <a href="maincatalog.html"><img src="logo.png" alt="Go back to maincatalog"></a>
    </header>
    <div id="wrapper">
        <div id="leftcolumn">
            <nav>
                <b>
                    <a href="maincatalog.html">Home</a>
                    <a href="phone.html">Phones</a>
                    <a href="laptop.html">Laptops</a>
                    <a href="cable.html">Cables</a>
                    <a href="case.html">Cases</a>
                </b>
            </nav>
        </div>
</body>